@keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes move-right {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes btn-move-up {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  padding: 3rem;
  line-height: 1.3;
  position: relative; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

.heading-primary {
  color: #eee;
  margin-bottom: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 100%; }
  .heading-primary__title {
    display: block; }
    .heading-primary__title--main {
      font-size: 6rem;
      letter-spacing: 3rem;
      animation: move-left 1s ease-out; }
      @media (max-width: 37.5em) {
        .heading-primary__title--main {
          letter-spacing: 0.65rem; } }
    .heading-primary__title--sub {
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 1.7rem;
      animation: move-right 1s ease-out; }
      @media (max-width: 37.5em) {
        .heading-primary__title--sub {
          letter-spacing: 0.5rem; } }

.heading-secondary {
  background-image: linear-gradient(to right, #b5ff7d, #00ad7c);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 3.2rem;
  text-transform: uppercase;
  transition: all 0.3s ease-out; }
  .heading-secondary:hover {
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: skewX(15deg) skewY(2deg); }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.6rem; } }

.heading-teritiary {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-transform: uppercase; }
  @media (max-width: 56.25em) {
    .heading-teritiary {
      font-size: 1.5remrem; } }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-text-align-center {
  text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 4rem; } }
  @media (max-width: 37.5em) {
    .u-margin-bottom-large {
      margin-bottom: 2rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem; } }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  padding: 4rem; }
  @media (max-width: 112.5em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10-small.jpg); } }
  @media (min-resolution: 192dpi) and (max-width: 112.5em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg); } }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10-small.jpg); } }
  @media (min-resolution: 192dpi) and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg); } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/nat-10-small.jpg); } }
  @media (min-resolution: 192dpi) and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/nat-10.jpg); } }
  @media (max-width: 37.5em) {
    .book {
      background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/nat-10-small.jpg); } }

.form__input-box {
  width: 40%; }
  @media (max-width: 75em) {
    .form__input-box {
      width: 60%; } }
  @media (max-width: 56.25em) {
    .form__input-box {
      width: 100%; } }

.form__input-label {
  display: inline-block;
  margin-left: 1rem;
  position: relative;
  opacity: 0;
  text-align: left;
  top: -3rem;
  font-size: 1.4rem;
  transition: all 0.2s; }
  .form__input-label--invalid-email {
    color: orangered;
    opacity: 0; }

.form__input {
  width: 100%;
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  outline: none;
  border-bottom: 3px solid transparent;
  margin-bottom: 0.5rem; }
  .form__input--name {
    text-transform: capitalize; }
  .form__input::placeholder {
    color: #9c9c9c;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem; }
  .form__input:focus {
    border-bottom: 3px solid #ff7730; }
  .form__input:valid {
    border-bottom: 3px solid #52d681; }
  .form__input:not(:placeholder-shown):invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input:not(:placeholder-shown):invalid + .form__input-label
.form__input-label--invalid-email {
    opacity: 1; }
  .form__input:not(:placeholder-shown) + .form__input-label {
    opacity: 1;
    top: 0;
    font-size: 1.6rem; }

.form__radio-group {
  display: inline-block;
  width: 49%; }
  @media (max-width: 37.5em) {
    .form__radio-group {
      width: 100%; } }

.form__radio-label {
  font-size: 1.6rem; }

.form__radio-btn {
  position: relative;
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 4px solid #52d681;
  top: 0.6rem;
  margin-right: 1rem; }
  .form__radio-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.1rem;
    height: 1.1rem;
    background-color: #52d681;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.2s; }

.form__radio-input {
  display: none; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
    opacity: 1; }

.btn, .btn:link, .btn:visited {
  position: relative;
  border-radius: 100px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  transition: all 0.3s; }

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.4s ease-out; }

.btn--white, .btn--white:hover, .btn--white::after {
  color: #777;
  background-color: #fff; }

.btn--green, .btn--green:hover, .btn--green::after {
  color: #fff;
  background-color: #52d681; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    opacity: 0;
    transform: scale(1.2, 1.7); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation: btn-move-up 1s ease-in; }

.btn-text, .btn-text:link, .btn-text:visited {
  border-bottom: 2px solid #52d681;
  color: #52d681;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s; }

.btn-text:hover {
  background-color: #52d681;
  color: #fff; }

.card {
  position: relative; }
  .card__side {
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    -ms-perspective: 150rem;
    -moz-perspective: 150rem;
    -webkit-perspective: 150rem;
    perspective: 150rem;
    transition: all 1s ease-out; }
    .card__side--front {
      position: relative;
      background-color: #fff; }
    .card__side--back {
      position: absolute;
      left: 0;
      top: 0;
      transform: rotateY(-180deg);
      width: 100%;
      height: 100%; }
  .card__front-img-box {
    height: 23rem;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen;
    background-size: cover; }
    .card__front-img-box--orange {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5-small-er.jpg); }
    .card__front-img-box--green {
      background-image: linear-gradient(to right bottom, #b5ff7d, #00ad7c), url(../img/nat-6-small-er.jpg); }
    .card__front-img-box--blue {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7-small-er.jpg); }
  .card__title {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 300;
    position: absolute;
    top: 15rem;
    right: 1rem;
    text-align: right;
    text-transform: uppercase;
    width: 75%; }
  .card__title-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.75rem 1.5rem; }
    .card__title-span--orange {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__title-span--green {
      background-image: linear-gradient(to right bottom, #b5ff7d, #00ad7c); }
    .card__title-span--blue {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__tour-list {
    list-style: none;
    text-align: center;
    padding: 3rem 20%; }
  .card__tour-item {
    font-size: 1.4rem;
    padding: 1rem 0; }
    .card__tour-item:not(:last-child) {
      border-bottom: 2px solid #efefef; }
  .card__cta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  .card__price-amount {
    font-size: 6rem;
    font-weight: 200; }
  .card__back-orange {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card__back-green {
    background-image: linear-gradient(to right bottom, #b5ff7d, #00ad7c); }
  .card__back-blue {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  @media (max-width: 75em) {
    .card {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .card__side {
        box-shadow: none; }
        .card__side--front {
          padding-bottom: 1rem; }
        .card__side--back {
          position: relative;
          transform: rotateY(0deg);
          height: auto;
          margin-top: -4rem;
          clip-path: polygon(0 4rem, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side {
        transform: rotateY(0deg); }
      .card:hover .card__side--back {
        transform: rotateY(0deg); }
      .card__cta {
        padding: 6rem 0 4rem 0;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        text-align: center; }
      .card__price-box {
        margin-bottom: 2rem; }
      .card__price-only {
        font-size: 1.6rem; }
      .card__price-amount {
        font-size: 3rem; } }

.composition {
  position: relative; }
  .composition__img {
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    outline-offset: 2rem;
    position: absolute;
    transition: all 0.3s;
    width: 55%; }
    .composition__img:hover {
      outline: 1.5rem solid #52d681;
      transform: translateY(-5px) scale(1.05);
      z-index: 5; }
    .composition__img--1 {
      top: -1rem;
      left: 0; }
      @media (max-width: 56.25em) {
        .composition__img--1 {
          top: 0; } }
    .composition__img--2 {
      top: 3rem;
      right: 0; }
      @media (max-width: 56.25em) {
        .composition__img--2 {
          top: 0;
          transform: scale(1.2) translateY(-2px);
          z-index: 2; } }
    .composition__img--3 {
      top: 7rem;
      left: 22.5%; }
      @media (max-width: 56.25em) {
        .composition__img--3 {
          top: 0;
          left: 0;
          transform: scale(0.95) translateY(3px); } }
    @media (max-width: 56.25em) {
      .composition__img {
        position: relative;
        width: 33.33%;
        float: left !important; } }
  .composition:hover > *:not(:hover) {
    transform: scale(0.95); }

.feature-card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 4rem 2rem;
  text-align: center;
  transition: all 0.4s ease-out; }
  .feature-card__icon {
    background-image: linear-gradient(to right, #b5ff7d, #00ad7c);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 6rem;
    margin-bottom: 2rem; }
  .feature-card:hover {
    transform: translateY(-1.5rem) scale(1.1); }

.popup {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 100; }
  .popup__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f7f7;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    display: table;
    overflow: hidden;
    width: 75%;
    max-height: 100%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.5s 0.3s; }
  .popup__close {
    color: #777;
    font-size: 2rem;
    line-height: 1;
    position: absolute;
    right: 2.5rem;
    text-decoration: none;
    top: 2.5rem;
    transition: all 0.3s; }
    .popup__close:hover {
      color: #52d681;
      transform: scale(1.2); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%); }
  .popup__img-box {
    width: 33.3333%;
    display: table-cell; }
  .popup__img {
    width: 100%;
    display: block; }
  .popup__content-box {
    display: table-cell;
    padding: 4rem;
    width: 66.6667%;
    vertical-align: middle; }
  .popup__paragraph--terms {
    display: inline-block;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 4rem;
    -webkit-column-gap: 4rem;
    column-gap: 4rem;
    font-size: 1.4rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    line-height: 1.5;
    -moz-column-rule: 2px solid #efefef;
    -webkit-column-rule: 2px solid #efefef;
    column-rule: 2px solid #efefef; }
    @media (max-width: 37.5em) {
      .popup__paragraph--terms {
        display: none; } }
  .popup__paragraph--to-terms {
    display: none; }
    @media (max-width: 37.5em) {
      .popup__paragraph--to-terms {
        display: block; } }

.story-box {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  line-height: 1.7;
  margin: 0 auto;
  padding: 4rem 4rem 4rem 6rem;
  width: 55%;
  transform: skewX(-7deg);
  backface-visibility: hidden; }
  .story-box > * {
    transform: skewX(7deg); }
    @media (max-width: 37.5em) {
      .story-box > * {
        transform: skewX(0); } }
  @media (max-width: 56.25em) {
    .story-box {
      width: 100%;
      max-width: 50rem; } }
  @media (max-width: 37.5em) {
    .story-box {
      padding: 4rem;
      transform: skewX(0);
      width: 92%; } }
  .story-box:not(:last-child) {
    margin-bottom: 8rem; }
  .story-box::after {
    content: "";
    display: table;
    clear: both; }
  .story-box__pic-box {
    position: relative;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    overflow: hidden;
    shape-outside: circle(50% at 50%);
    clip-path: circle(50% at 50%);
    float: left;
    right: 2rem; }
  .story-box__pic {
    height: 100%;
    transform: translateX(-3rem) scale(1.5);
    transition: filter 0.5s, transform 0.3s; }
  .story-box__name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    text-align: center;
    transform: translate(-50%, 0);
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.3s; }
  .story-box:hover .story-box__pic {
    filter: blur(0.3rem);
    transform: translateX(-3rem) scale(1); }
  .story-box:hover .story-box__name {
    opacity: 1;
    transform: translate(-50%, -50%); }

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .video-bg__video {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.footer {
  padding: 10rem 0;
  background-color: #333; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 5rem 0; } }
  .footer__logo {
    height: 12rem; }
  @media (max-width: 56.25em) {
    .footer__navigation {
      text-align: center; } }
  .footer__menu-list {
    display: inline-block;
    border-top: 2px solid #8f8e8e;
    list-style: none;
    padding-top: 1rem; }
  .footer__menu-item {
    display: inline-block; }
    .footer__menu-item:not(:last-child) {
      margin-right: 1.6rem; }
  .footer__copyright {
    float: right;
    border-top: 2px solid #8f8e8e;
    font-size: 1.4rem;
    padding-top: 1rem; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        text-align: center; } }
  .footer__link {
    display: inline-block;
    background-color: #333;
    color: #efefef;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s; }
    .footer__link:hover {
      transform: rotate(7deg) scale(1.2);
      color: #52d681; }

.row {
  margin: 0 auto;
  max-width: 114rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  @media (max-width: 37.5em) {
    .row {
      padding: 0 2rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5.26%; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 5.26%) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *5.26%) / 3); }
  .row .col-2-of-3 {
    width: calc( ((100% - 2 *5.26%) / 3) * 2 + 5.26%); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *5.26%) / 4); }
  .row .col-2-of-4 {
    width: calc( ((100% - 3 *5.26%) / 4) * 2 + 5.26%); }
  .row .col-3-of-4 {
    width: calc( ((100% - 3 *5.26%) / 4) * 3 + 2 * 5.26%); }

.header {
  position: relative;
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(181, 255, 125, 0.8), rgba(0, 173, 124, 0.8)), url(../img/hero-small.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(181, 255, 125, 0.8), rgba(0, 173, 124, 0.8)), url(../img/hero.jpg); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.navigation__bg {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#b5ff7d, #00ad7c);
  z-index: 2000;
  transition: all 0.5s 0.2s; }
  @media (max-width: 56.25em) {
    .navigation__bg {
      transform: scale(0.9);
      top: 3.5rem;
      right: 3.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__bg {
      transform: scale(0.8);
      top: 3rem;
      right: 3rem; } }

.navigation__btn {
  position: fixed;
  display: inline-block;
  top: 6rem;
  right: 6rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  z-index: 3500; }
  @media (max-width: 56.25em) {
    .navigation__btn {
      transform: scale(0.9);
      top: 3rem;
      right: 3rem; } }
  @media (max-width: 37.5em) {
    .navigation__btn {
      transform: scale(0.8);
      top: 2.5rem;
      right: 2.5rem; } }

.navigation__btn-icon {
  position: relative;
  left: 2.2rem;
  top: 2rem;
  height: 2px;
  width: 2.5rem;
  background-color: #8f8e8e;
  display: inline-block;
  transition: all 0.2s; }
  .navigation__btn-icon::before, .navigation__btn-icon::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #8f8e8e;
    transition: all 0.3s; }
  .navigation__btn-icon::before {
    transform: translateY(-6px); }
  .navigation__btn-icon::after {
    transform: translateY(6px); }

.navigation__btn:hover .navigation__btn-icon {
  transform: scaleY(1.1); }

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  z-index: -3000;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item:not(:last-child) {
  margin-bottom: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  color: #fff;
  font-size: 2.6rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2rem;
  background-image: linear-gradient(110deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  background-position: 0;
  transition: all 0.5s; }

.navigation__link span {
  margin-right: 1.6rem; }

.navigation__link:hover {
  background-position: 100%;
  color: #52d681; }

.navigation__checkbox {
  display: none; }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    z-index: 3000; }
  .navigation__checkbox:checked ~ .navigation__bg {
    transform: scale(55); }
  .navigation__checkbox:checked ~ .navigation__btn .navigation__btn-icon {
    background-color: #fff; }
  .navigation__checkbox:checked ~ .navigation__btn .navigation__btn-icon::after {
    transform: rotate(-135deg) translateY(0); }
  .navigation__checkbox:checked ~ .navigation__btn .navigation__btn-icon::before {
    transform: rotate(135deg) translateY(0); }

.section-about {
  background-color: #efefef;
  margin-top: -20vh;
  padding: 25rem 0; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 15rem 0;
      margin-top: -11vh; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 12rem 0 15rem 0;
      margin-top: -11vh; } }

.section-features {
  background-image: linear-gradient(to right bottom, rgba(181, 255, 125, 0.8), rgba(0, 173, 124, 0.8)), url(../img/nat-4-small.jpg);
  background-position: top;
  background-size: cover;
  margin-top: -8rem;
  padding: 20rem 0;
  transform: skewY(-6deg); }
  .section-features > * {
    transform: skewY(6deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .section-features {
      background-image: linear-gradient(to right bottom, rgba(181, 255, 125, 0.8), rgba(0, 173, 124, 0.8)), url(../img/nat-4.jpg); } }

.section-tours {
  background-color: #efefef;
  margin-top: -8rem;
  padding: 20rem 0 10rem 0; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 15rem 0 10rem 0; } }

.section-story {
  position: relative;
  background-color: rgba(239, 239, 239, 0.85);
  padding: 10rem 0; }
  @media (max-width: 56.25em) {
    .section-story {
      padding: 7rem 0 5rem 0; } }

.section-book {
  background-image: linear-gradient(to right bottom, #b5ff7d, #00ad7c);
  padding: 15rem 0; }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 7rem 0; } }
