@mixin clear-fix {
  //this fixes the no height cases while using float grids and apply on the parent element
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin align-abs-center {
  //this makes the whole box to place itself at the center of the parent vertically and horizontally
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
