//COLORS
$color-primary: #52d681;
$color-primary-light: #b5ff7d;
$color-primary-dark: #00ad7c;

$color-text-default: #777;

//DIMS
$gutter-horizontal: 5.26%; //(6rem / 114rem) * 100%
$gutter-vertical: 8rem;
