.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    border-radius: 100px;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 3rem;
    transition: all 0.3s;
  }

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.4s ease-out;
  }

  &--white {
    &,
    &:hover,
    &::after {
      color: $color-text-default;
      background-color: $color-white;
    }
  }

  &--green {
    &,
    &:hover,
    &::after {
      color: $color-white;
      background-color: $color-primary;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    &::after {
      opacity: 0;
      transform: scale(1.2, 1.7);
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &--animated {
    animation: btn-move-up 1s ease-in;
  }
}

.btn-text {
  &,
  &:link,
  &:visited {
    border-bottom: 2px solid $color-primary;
    color: $color-primary;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
