.story-box {
  background-color: $color-white;
  border-radius: $radius-border-card-default;
  box-shadow: 0 1rem 4rem rgba($color-black, 0.2);
  line-height: 1.7;
  margin: 0 auto;
  padding: 4rem 4rem 4rem 6rem; //6rem considers the left moving of story picture
  width: 55%;
  transform: skewX(-7deg);
  & > * {
    transform: skewX(7deg);
    @include respond(phone) {
      transform: skewX(0);
    }
  }
  @include respond(tab-port) {
    width: 100%;
    max-width: 50rem;
  }
  @include respond(phone) {
    padding: 4rem;
    transform: skewX(0);
    width: 92%;
  }
  backface-visibility: hidden;
  &:not(:last-child) {
    margin-bottom: $margin-bottom-huge;
  }
  @include clear-fix;

  &__pic-box {
    position: relative;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    overflow: hidden;
    shape-outside: circle(
      50% at 50%
    ); //this makes to be surrounded according to the shape by text
    clip-path: circle(50% at 50%);
    float: left;
    right: 2rem; //this moves the box 2 rem to left without affecting the neighbour div
  }

  &__pic {
    height: 100%;
    transform: translateX(-3rem) scale(1.5);
    transition: filter 0.5s, transform 0.3s;
  }

  &__name {
    @include align-abs-center;
    font-weight: 300;
    text-align: center;
    transform: translate(-50%, 0);
    color: $color-white;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover &__pic {
    filter: blur(0.3rem);
    transform: translateX(-3rem) scale(1);
  }

  &:hover &__name {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
