body {
  color: $color-text-default;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.heading-primary {
  color: $color-text-light;
  margin-bottom: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 100%;

  &__title {
    display: block;
    &--main {
      font-size: 6rem;
      letter-spacing: 3rem;
      animation: move-left 1s ease-out;
    }
    &--sub {
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 1.7rem;
      animation: move-right 1s ease-out;
    }
  }
}

.heading-secondary {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 3.5rem;
  transition: all 0.3s ease-out;
  &:hover {
    text-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: skewX(15deg) skewY(2deg);
  }
}

.heading-teritiary {
  font-size: 1.6rem;
  margin-bottom: $margin-bottom-small;
}

.paragraph {
  font-size: 1.5rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
