.u-text-align-center {
  text-align: center; //helper class that align text-center
}

.u-margin-bottom-large {
  margin-bottom: $margin-bottom-large;
}

.u-margin-bottom-medium {
  margin-bottom: $margin-bottom-medium;
}

.u-margin-bottom-small {
  margin-bottom: $margin-bottom-small;
}
